@namespace PMD.App.Features.Scanner.Components
@using Microsoft.AspNetCore.Components
@using PMD.App.Domain.Scanner

@if (ScanResult is not null)
{
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Prüfergebnis</h5>

            <dl class="row mb-0">
                <dt class="col-sm-3">Projektname</dt>
                <dd class="col-sm-9">@ScanResult.ProjectName</dd>

                <dt class="col-sm-3">Projektordner</dt>
                <dd class="col-sm-9">@ScanResult.RootPath</dd>

                <dt class="col-sm-3">Geprüft am</dt>
                <dd class="col-sm-9">@ScanResult.ScannedAt.ToString("dd.MM.yyyy HH:mm:ss")</dd>

                <dt class="col-sm-3">Dateien</dt>
                <dd class="col-sm-9">@ScanResult.FileCount</dd>

                <dt class="col-sm-3">Geprüfte Ordner</dt>
                <dd class="col-sm-9">@ScanResult.ScannedFolderCount</dd>

                <dt class="col-sm-3">Angezeigt</dt>
                <dd class="col-sm-9">
                    @DisplayedFileCount von @ScanResult.FileCount Dateien
                </dd>

                <dt class="col-sm-3">Gesamtgröße</dt>
                <dd class="col-sm-9">
                    @ScannerDisplayFormatter.FormatFileSize(ScanResult.TotalSizeInBytes)
                </dd>

                <dt class="col-sm-3">Prüfdauer</dt>
                <dd class="col-sm-9">
                    @ScannerDisplayFormatter.FormatScanDuration(ScanResult.ScanDuration)
                </dd>

                <dt class="col-sm-3">Übersprungene Ordner</dt>
                <dd class="col-sm-9">@ScanResult.IgnoredFolderCount</dd>

                <dt class="col-sm-3">Hinweise</dt>
                <dd class="col-sm-9">@ScanResult.WarningCount</dd>
            </dl>
        </div>
    </div>
}

@code {
    [Parameter]
    public ProjectFolderScanResult? ScanResult { get; set; }

    [Parameter]
    public int DisplayedFileCount { get; set; }
}